@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/AgriConnect/public/img/img2.png) no-repeat center center;
    background-size: cover;
    padding: 20px;
}

.wrapper {
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0 8px 16px rgba(0, 0 , 0, 0.3);
}

.wrapper h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-box {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    padding-left: 45px;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.show-password-btn {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: -10px 0 20px 0;
    text-align: right;
    cursor: pointer;
    transition: color 0.3s;
}

.show-password-btn:hover {
    color: #ccc;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 10px 0 20px;
}

.remember-forgot label input {
    margin-right: 5px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.remember-forgot a:hover {
    color: #ccc;
}

.btn {
    width: 100%;
    height: 50px;
    background: #bcbbbb;
    border: none;
    border-radius: 25px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
}

.btn:hover {
    background: #c9eeb8;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 0;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.register-link p a:hover {
    color: #ccc;
}

.abstract {
    margin-bottom: 20px;
}

.abstract h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    
}

.link-container .btn {
    display: inline-block;    
}

.link-container .btn:hover {
    background: #c9eeb8;
}

@media only screen and (min-width: 320px) {
    .link-container {
        flex-direction: row;
    }

    .link-container .btn {
        width: 48%;
    }
}